name: sketch_flutter_project
description: Sketch flutter project.
version: 1.0.0+1

environment:
  sdk: ">=2.17.6 <3.0.0"

dependencies:
  #flutter sdk
  flutter:
    sdk: flutter

  #local storage
  shared_preferences: 2.0.15
  get_storage: 2.0.3
  hive: 2.2.3

  #bloc
  bloc: 8.0.3
  bloc_concurrency: 0.2.0
  flutter_bloc: 8.0.1
  equatable: 2.0.3

  #networking
  retrofit: 3.0.1+1
  json_annotation: 4.6.0
  dio: 4.0.6

  #service locator
  get_it: 7.2.0
  injectable: 1.5.3

  #svg image loader
  flutter_svg: 1.1.1+1

  #redux
  async_redux: 15.0.0

dev_dependencies:
  injectable_generator: 1.5.4
  retrofit_generator: 4.0.3
  json_serializable: 6.3.1
  build_runner: 2.2.0
  bloc_test: 9.0.3
  mocktail: 0.3.0

  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints:

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/translations/
  fonts:
    - family: AudiType-Normal
      fonts:
        - asset: fonts/AudiType-Normal.ttf


